<p [style.color]='titleColor' id="title">Title: {{title}}</p>
<p>Note is: {{noteContent}}</p>
<mat-form-field>
    <input matInput placeholder="Add Note" [value] = "titleColor" [(ngModel)] = "noteContent">
</mat-form-field>
<button mat-icon-button (click) = "setTitle()"> 
    <mat-icon>add</mat-icon>
</button>
<button mat-raised-button color="primary" (click)="changeBackground()">Set background</button>
<button mat-raised-button color="warn" (click)="removeBackground()">Remove background</button>